* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.menu {
    background-color: #DFFFE1;
    padding-top: 20px;
    position: sticky;
    top: 0;
}

.btn_menu {
    background-color: #C4C3D0;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_menu:hover {
    background-color: #DFFFE1;
    border: 3px solid #FFBF00;
    color: #FFBF00;
}

.btn_menu_1 {
    background-color: #DFFFE1;
    border: 3px solid white;
    border-radius: 8px;
    padding: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    padding-left: 10px;
}

ul {
    display: flex;
    justify-content: end;
}

.menu h3{
    display: flex;
}

.container {
    padding: 0 100px;
}

.flex {
    display: flex;
    align-items: center;
    height: 251px;
}

.flex-img {
    display: flex;
    align-items: center;
}

.flex-img h1 {
    display: block;
}

.img {
    margin-left: 520px;
    
}

.father {
    margin-top: 100px;
    margin-bottom: 300px;
}

.mother {
    margin-bottom: 300px;
    background-color: #DFFFE1;
    height: max-content;
    padding: 50px 0;
}

.flex_div {
    display: flex;
}

.text {
    position: relative;
    top: 150px;
    left: 300px;
}

.sister {
    margin-bottom: 300px;
}

.brother {
    background-color: #DFFFE1;
    height: max-content;
    padding: 80px 0;
}

img {
    border-radius: 8px;
}